.containerCard {
  background-color: rgb(227, 228, 233);
  width: 220px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.55);
}

.image{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;
}

/* scalar imagen */
.image:hover {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: scale(1.1);
  transition: all 0.5s;
}

.containerCard .image:hover{
  display: block;
  z-index: 100;
}