@font-face{
  font-family:'dongle';
  src: url("/assets/Dongle-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family:'dongle-bold';
  src: url("/assets/Dongle-Bold.ttf") format(ttf);
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'dongle';
}

a {
  color: inherit;
  text-decoration: none;
}
