.container{
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  height: 100vh;
  background-image: url('/fondo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.225);
  border-radius: 10px;
  max-width: 600px;
  margin: 0 70px;
  padding: 40px 50px;
}

.containerForm{
  height: 100%;
  display: flex;
  align-items: center;
}

.names{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.form h1{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0px;
  letter-spacing: 1px;
}

.info{
  height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 1px;

}

.info h1{
  font-size: 5rem;
  line-height: 80px;
  margin-top: 0;
}

.actions{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link{
  font-size: 1.5rem;
  text-decoration: underline;
  color: var(--color-primary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.socialMedia{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.divider {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #9c9c9c; 
  line-height: 0.1em;
  margin: 20px 0 35px; 
} 

.divider span { 
  background:#fff; 
  padding:0 4px; 
  font-size: 1.3rem;
  position: relative;
  color: #9c9c9c;
  top: 0.1em;
}

@media (max-width: 1100px) {
  .container{
    grid-template-columns: 2fr 1fr;
  }

}

@media (max-width: 800px) {
  .container{
    grid-template-columns: 2fr 1fr;
    padding: 10px 10px;
  }

  .form{
    margin: 0 10px;
    height: 550px;
    padding: 30px 25px;
  }

}

@media (max-width: 600px) {
  .container{
    grid-template-columns: 1fr;
  }

}